$footer-bg-color: #85add3;
$footer-text-color: #fff;

 .logo{
    width: 30%;
 }
 .navbar-color {
    background-color: $footer-bg-color !important;
    color: $footer-text-color !important;
    padding: 10px 0px;
    margin-bottom: 0px;
  
 }

.footer {
  text-align: center;
  background-color: $footer-bg-color;
  padding: 20px 0px;
  color: $footer-text-color;
  .footer-link {
    color: $footer-text-color;
    left: 20px;
  }
}

a.nav-link {
    color: $footer-text-color !important;
}